<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="at.css">
    <script src="at.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap" rel="stylesheet">
 
    

style 
    include ../views/stylehome.css
</head>

<body>

    <nav>
        
        
        <ul class="menu">
            
            <li class="logo"><a href="#">MyDisk</a></li>
            <li class="item"><a href="#">Home</a></li>
            
            <li class="item"><a href="#">About</a></li>
            <li class="item"><a href="#">Plans</a></li>
            <li class="item"><a href="#">Contact Us</a></li>
            <li class="item Button" id="log"><a href="/login">Log In</a></li>
            <li class="item Button sec" id="reg"><a href="/register">Sign Up</a></li>
            <li class="toggle "><a href="#"><i class="fas fa-bars"></i></a></li>
            
            
        </ul>
        <div class="icon"></div>
    </nav>
    <div class="container">
        <div class="box" id="box1">MyDisk</div>
        <div class="box lower" >&#8226; Storage you can rely on.</div>
        <div class="box lower" class="lower">&#8226; No hidden charges.</div>
        <div class="box lower" class="lower">&#8226; Affordable.</div>
        <div class="box lower" class="lower">&#8226; Your perfect back-up partner.</div>
        
        
        
        
        
        
    </div>
    <p></p>
</body>

</html>