extends base.pug
block style
  style
    include ../static/base.css
    include ../static/about.css

block content
    .heading
      img(src="/static/imginpng.png", alt="CHECK YOUR INTERNET CONNECTION")
      .container
        h1 About Us
        ul
          li
            p Welcome to MyDisc, the ultimate social platform for sharing and storing your text and image files. Our innovative website is designed to provide a seamless and efficient experience for users who want to upload and retrieve their valuable content.

          li
            p At MyDisc, we understand the importance of both convenience and security. When you upload your text and image files, our advanced compression technology ensures that they are stored in a highly efficient and compressed format. This not only saves storage space but also guarantees faster retrieval times when you need your files back.

          li
            p Join MyDisc today and experience a social platform that not only allows you to share your text and image files but also provides an efficient and secure storage solution. Embrace the convenience of compressed storage and the joy of retrieving your files in their original quality. Together, let's explore the possibilities of MyDisc and create lasting memories.

