doctype html
html
  head
    block style
      style
        include ../static/stylehome.css

  body
    nav
      ul.menu
        li.logo
          a(href="#") MyDisk
        li.item
          a(href="/") Home
        li.item
          a(href="/about") About
        li.item
          a(href="/contact") Contact Us
        li.item.Button#log
          a(href="/login") Log In
        li.item.Button.sec#reg
          a(href="/register") Sign Up
    main
      block content
   




