extends base2.pug
block style
  style
    include ../static/base.css
    include ../static/contact.css

block content
    .contact1
      ul
        li Name : Ameya Langer
        p
          | Phone number : 8899730028
        p
          | Email ID : ameyalanger2004@gmail.com

      ul
        li Name : Pratyush Kaurav
        p
          | Phone number : 8103517323
        p
          | Email ID : pratyushkaurav5@gmail.com

      ul
        li Name : Ahmed Noor
        p
          | Phone number : 6392657275
        p
          | Email ID : ahmednoor61446@gmail.com

      ul
        li Name : Utkarsh Gupta
        p
          | Phone number : 9529133103
        p
          | Email ID : utkarshgupta1207@gmail.com

    .line

    .container
      h1
        | Feel Free To Reach Us

