<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    style 
        include ../views/stylelogin.css
</head>
<body>
<div class="container">

    <div class="box">
        <div class="item1">
            <div class="si">LOGIN</div>
            <div class="line">
            </div>
            <div class="form">
                <form action="">
                   <div class="ha">
                    <div class="h">
                        <img class="icon" src="/static/mail2.png" alt="hi">
                        <div class="w">
                            |   EMAIL
                        </div> 
                    </div>
                    <input class="in" type="text" placeholder="USERNAME OR EMAIL ID">
                   </div> 
                    <div class="ha">
                        <div class="h">
                            <img src="/static/pass.png" alt="" class="icon">
                            <div class="w">PASSWORD</div>
                        </div>
                        <input class="in" type="password" placeholder="PASSWORD">
                    </div>
                    <div class="submit">
                        <input class="sub" type="submit">
                    </div>
                    <div class="dha">
                        |    Don't have an account?
                        <a class="sign" href="/register">Sign Up</a>
                    </div>
                   
                </form>
            </div>

        </div>
        <div class="item2">
            <div class="text"></div>
        </div>
    </div>
</div>
    </body>
</html>