<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
style 
    include ../views/styleregister.css
</head>
<body>
    <div class="container">
        <div class="box">
            <div class="title">Create Account</div>
        <div class="form">
            <form action="/register",method="post">
                <div class="ha" id="alpha">
                    <input type="text" name="fname" class="ini" placeholder="First Name">
                </div>
                <div class="ha" id="beta">
                    <input type="text" name="lname" class="ini" placeholder="Last Name">
                </div>
                <div class="ha" id="gamma">
                    <div class="h">
                        |    EMAIL ID
                    </div>
                    <input type="text" name="email" class="in" placeholder="EMAIL ID">
                </div>
                <div class="ha">
                    <div class="h">
                        |    PASSWORD
                    </div>
                    <input type="password" name="password" class="in" placeholder="PASSWORD">
                </div>
                <div class="note">Atleast 8 characters</div>
                <div class="ha">
                    <div class="h">
                        |    CONFIRM PASSWORD
                    </div>
                    <input type="password" name="cpassword" class="in" placeholder="PASSWORD">
                </div>
                <input type="submit" class="sub">

            </form>
        </div>
        <div class="log">Already have an account?
            <a href="/login" class="btn">Login</a>
        </div>
    </div> 
    </div>
</body>
</html>